/*************************************
    GENERAL STYLES
*************************************/

* {
    font-family: Inconsolata, monospace;
}


/*************************************
    HEADER STYLES
*************************************/

header {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 10;
}

form {
    text-align: center;
}

input {
    box-sizing: border-box; 
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 40px;
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    padding: 5px;
    font-size: 16pt;
    transition: border 0.5s;
}

input:focus {
    outline: none;
    border-color: #6BAED6;
}


/*************************************
    IMAGE STYLES
*************************************/

#media-container {
    padding-top: 104px;
    width: 80%;     
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    z-index: -10;
}

.media {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail {
    cursor: pointer; 
    transition: all 0.5s;
}

.thumbnail:hover {
    opacity: 0.75;
}

#no-results {
    display: none;
    margin: auto;
    text-align: center;
}

/*************************************
    MODAL WINDOW
*************************************/

#modal-window {
    position: absolute;
    top: 0;
    display: none;
    cursor: pointer; 
    z-index: 100;
}

.media-wrapper {
    margin: auto;
    display: flex;
}

#modal-image {
    width: 300px;
    height: 188px;
}

#left-panel, 
#right-panel,
#top-panel, 
#bottom-panel {
    background: rgba(24, 24, 24, 0.9);
    display: flex;
}

#left-panel, 
#right-panel {
    flex-direction: column;
    justify-content: center;
    height: 188px;
    width: calc((100vw - 300px)/2);
    transition: background 0.5s;
}

#left-panel:hover, 
#left-panel:focus,
#right-panel:hover,
#right-panel:focus {
    background: rgba(24, 24, 24, 0.8);
}


#top-panel {
    height: 108px;
}

#bottom-panel {
    position: relative;
    height: 300px;
}

.cpn-text {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    opacity: 0.85;
    text-align: left;
    line-height: 1.6em;
    max-width: 600px;
}

#arrow-right {
    opacity: 0.85;
    transform: scale(0.75, 0.75);
}

#arrow-left {
    opacity: 0.85;
    transform: scale(0.75, 0.75) rotate(180deg);
}

/*************************************
   MEDIA QUERIES
*************************************/

@media screen and (min-width: 500px) {

    input {
        width: 460px;
    }

    .media {
        margin-left: 0;
        margin-right: 60px;
    }
}

@media screen and (min-width: 500px) and (max-width: 799px) {

    #media-container {
        width: 460px;
    }

    .media:nth-child(2n) {
        margin-right: 0;
    }

    #modal-image {
        width: 430px;
        height: 269px;
    }

    #left-panel, 
    #right-panel {
        height: 269px;
        width: calc((100vw - 430px)/2);
    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {

    #media-container {
        width: 720px;
    }

    .media:nth-child(3n) {
        margin-right: 0;
    }

    #modal-image {
        width: 700px;
        height: 438px;
    }

    #left-panel, 
    #right-panel {
        height: 438px;
        width: calc((100vw - 700px)/2);
    }
}

@media screen and (min-width: 1000px) {

    #media-container {
        width: 980px;
    }

    .media:nth-child(4n) {
        margin-right: 0;
    }

    #modal-image {
        width: 800px;
        height: 500px;
    }

    #left-panel, 
    #right-panel {
        height: 500px;
        width: calc((100vw - 800px)/2);
    }

}